@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
.popup {
  width: 350px;
}
.popup :where(.picker, header, .colors, .color) {
  display: flex;
  align-items: center;
}
.picker {
  background-color: #c4dff6;
  justify-content: center;
  padding: 30px 0;
  border-radius: 0 0 10px 10px;
}
.picker-btn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #0169a4;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #c4dff6;
  cursor: pointer;
  font-weight: 500;
}
.picker-btn:hover {
  transition: all 300ms;
  background-color: #003366;
}
.picked-colors {
  margin: 10px 15px;
}
.picked-colors header {
  justify-content: space-between;
}
.clear {
  cursor: pointer;
  color: #788cb6;
}
.clear:hover {
  color: #0169a4;
}
.colors {
  flex-wrap: wrap;
  margin: 10px 0;
}
.color {
  cursor: pointer;
  list-style: none;
  gap: 8px;
  width: calc(100% / 3);
  margin-bottom: 10px;
}
.color .rect {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 5px;
}
.value {
  font-weight: 500;
  text-transform: uppercase;
}
.hide {
  display: none;
}
